# Using Pandas Library in Python

In [180]:
import pandas as pd

## Importing dataset

In [181]:
df=pd.read_csv('main.csv')

In [182]:
df.head()

   Year  Population    Total  ...  Burglary  Larceny_Theft  Vehicle_Theft
0  1960   179323175  3384200  ...    912100        1855400         328200
1  1961   182992000  3488000  ...    949600        1913000         336000
2  1962   185771000  3752200  ...    994300        2089600         366800
3  1963   188483000  4109500  ...   1086400        2297800         408300
4  1964   191141000  4564600  ...   1213200        2514400         472800

[5 rows x 12 columns]

## grouping as decades

In [183]:
dataframe=df.groupby(["Year",(df.Year//10*10),"Year"]).sum()

In [185]:
dataframe.head()

                Population    Total  ...  Larceny_Theft  Vehicle_Theft
Year Year Year                       ...
1960 1960 1960   179323175  3384200  ...        1855400         328200
1961 1960 1961   182992000  3488000  ...        1913000         336000
1962 1960 1962   185771000  3752200  ...        2089600         366800
1963 1960 1963   188483000  4109500  ...        2297800         408300
1964 1960 1964   191141000  4564600  ...        2514400         472800

[5 rows x 11 columns]

## Removing multilevel indexes

In [186]:
res=pd.DataFrame(dataframe.values,
                     index=dataframe.index.droplevel([0,2]),
                     columns=dataframe.columns)

In [187]:
res.head()

      Population    Total  Violent  ...  Burglary  Larceny_Theft  Vehicle_Theft
Year                                ...
1960   179323175  3384200   288460  ...    912100        1855400         328200
1960   182992000  3488000   289390  ...    949600        1913000         336000
1960   185771000  3752200   301510  ...    994300        2089600         366800
1960   188483000  4109500   316970  ...   1086400        2297800         408300
1960   191141000  4564600   364220  ...   1213200        2514400         472800

[5 rows x 11 columns]

## Groupbying all columns except population column

In [157]:
res1=res.groupby('Year')['Violent','Property','Murder','Forcible_Rape','Robbery','Aggravated_assault','Burglary','Larceny_Theft','Vehicle_Theft'].sum()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

In [188]:
res1.head()

       Violent   Property  Murder  ...  Burglary  Larceny_Theft  Vehicle_Theft
Year                               ...
1960   4134930   45160900  106180  ...  13321100       26547700        5292100
1970   9607930   91383800  192230  ...  28486000       53157800        9739900
1980  14074328  117048900  206439  ...  33073494       72040253       11935411
1990  17527048  119053499  211664  ...  26750015       77679366       14624418
2000  13968056  100944369  163068  ...  21565176       67970291       11412834

[5 rows x 9 columns]

## Reset Indexes

In [158]:
res.reset_index(level=0, inplace=True)

## Taking Year and Population Column

In [159]:
res2=res[['Year','Population']]

## Function to get last population value of decade

In [165]:
def fun(x):
  l=[]
  for i in res2[res2['Year']==x]['Population']:
      l.append(i)
  return l[-1]

## Applying function

In [167]:
res2['Population']=res2['Year'].apply(lambda x : fun(x))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

## Droping Duplicates

In [169]:
res2.drop_duplicates(subset='Year',inplace=True)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

## Reset year as index

In [173]:
res2.set_index('Year',inplace=True)

In [174]:
res1

       Violent   Property  Murder  ...  Burglary  Larceny_Theft  Vehicle_Theft
Year                               ...
1960   4134930   45160900  106180  ...  13321100       26547700        5292100
1970   9607930   91383800  192230  ...  28486000       53157800        9739900
1980  14074328  117048900  206439  ...  33073494       72040253       11935411
1990  17527048  119053499  211664  ...  26750015       77679366       14624418
2000  13968056  100944369  163068  ...  21565176       67970291       11412834
2010   6072017   44095950   72867  ...  10125170       30401698        3569080

[6 rows x 9 columns]

In [175]:
res2

      Population
Year
1960   201385000
1970   220099000
1980   248239000
1990   272690813
2000   307006550
2010   318857056

## Combing two dataframe

In [177]:
result=pd.concat([res2,res1], axis=1)

## Output

In [178]:
result

      Population   Violent   Property  ...  Burglary  Larceny_Theft  Vehicle_Theft
Year                                   ...
1960   201385000   4134930   45160900  ...  13321100       26547700        5292100
1970   220099000   9607930   91383800  ...  28486000       53157800        9739900
1980   248239000  14074328  117048900  ...  33073494       72040253       11935411
1990   272690813  17527048  119053499  ...  26750015       77679366       14624418
2000   307006550  13968056  100944369  ...  21565176       67970291       11412834
2010   318857056   6072017   44095950  ...  10125170       30401698        3569080

[6 rows x 10 columns]

## Exporting to csv

In [179]:
result.to_csv('Output1.csv')