# Using Python Pandas Library

In [1]:
import pandas as pd

## Importing dataset

In [15]:
data=pd.read_csv('main.csv')

In [16]:
df=data[['Yellow Cards','Red Cards']]

In [18]:
df.head(10)

   Yellow Cards  Red Cards
0             9          0
1             7          0
2             4          0
3             5          0
4             6          0
5             4          0
6             9          1
7            16          0
8             5          0
9             7          1

## Sorting with Red cards and then yellow cards

In [11]:
res=df.sort_values(['Red Cards','Yellow Cards'],ascending=[False,False])

## Output

In [14]:
res

    Yellow Cards  Red Cards
6              9          1
9              7          1
11             6          1
7             16          0
10            12          0
13            11          0
0              9          0
1              7          0
14             7          0
4              6          0
12             6          0
3              5          0
8              5          0
15             5          0
2              4          0
5              4          0

In [13]:
res.to_csv('Cards.csv')